#header {
  position: fixed;
  z-index: 5;
}

#header .menu {
  position: fixed;
  width: 100%;
  z-index: 4;
}

#header .menu.menu-active {
  background: #000000;
}

#header .menu .nav-bar {
  position: relative;
}

#header .menu .nav-bar ul li {
  padding: 20px 35px;
}

#header .menu .nav-bar ul li a {
  color: #f5f1f1;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

#header .menu .nav-bar ul li a:hover {
  color: #E42E71;
}

#header .menu-mobile {
  width: 100%;
}

#header .menu-mobile.menu-active {
  background: #000000;
}

#header .menu-mobile .mobile-logo {
  margin-left: 8em;
}

#header .menu-mobile .sidebar-left {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  padding: 1em;
  width: 55%;
  border: 1px solid #E42E71;
  background: #000000;
}

#header .menu-mobile .sidebar-left .close-ico {
  position: absolute;
  z-index: 3;
  right: 0%;
  top: 0;
  cursor: pointer;
}

#header .menu-mobile .sidebar-left .close-ico i {
  color: #fff;
  font-size: 1.2em;
}

#header .menu-mobile .sidebar-left .mobile-down-menu {
  color: white;
  background-color: #000000;
}

#header .menu-mobile .sidebar-left .mobile-down-menu .set a {
  padding: 10px;
  text-decoration: none;
  color: white !important;
}

#header .menu-mobile .sidebar-left .mobile-down-menu .set a span {
  position: relative;
}

#header .menu-mobile .sidebar-left .mobile-down-menu .set a span::after {
  content: '';
  width: 0px;
  -webkit-transition: .3s;
  transition: .3s;
  height: 2px;
  left: 1px;
  bottom: 5px;
  background-color: #E42E71;
  position: absolute;
}

#header .menu-mobile .sidebar-left .mobile-down-menu .set a span:hover::after {
  width: 40px;
}

#header .menu-mobile #ico-bar {
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Architects Daughter', cursive;
}

body {
  background-color: black;
}

.slider {
  margin: auto;
  overflow: hidden;
  height: 100vh;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.slider .next,
.slider .prev {
  line-height: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  color: white;
  z-index: 3;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider .next {
  right: 20px;
}

.slider .prev {
  left: 20px;
}

.slider ul {
  list-style: none;
  position: relative;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  left: 0;
}

.slider ul li {
  width: 100%;
  position: relative;
}

.slider ul li .sld {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  color: white;
  top: 0px;
}

.slider ul li .sld .sldd {
  text-align: center;
  padding-top: 5em !important;
  z-index: 4;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  font-size: 70px;
  font-weight: 400;
  line-height: 1em;
  padding: 5em;
}

.slider ul li img {
  width: 100%;
  vertical-align: middle;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#about {
  margin-top: 6em;
}

#about span {
  padding-top: 2em;
}

#about h1 {
  padding-top: 10px;
  font-size: 2.3em;
  font-weight: bolder;
  position: relative;
  color: white;
}

#about p {
  font-size: 15px;
  line-height: 1.75em;
  margin: 0 0 15px;
  color: #ACACAC;
}

#about .about-img {
  position: relative;
  z-index: 1;
}

#about .about-img img {
  height: 60vh;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

#about .about-img img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#about .about-img .add {
  position: absolute;
  background-color: #E42E71;
  width: 90%;
  top: 10%;
  bottom: -20px;
  right: -20px;
  z-index: -1;
}

#category {
  margin-top: 6em;
  margin-bottom: 6em;
  height: 100vh;
}

#category h1 {
  color: #fff;
  text-align: center;
  font-size: 60px;
  padding-top: 2em;
  padding-bottom: 1em;
}

#category .clear-both {
  clear: both;
}

#category .category-item {
  overflow: hidden;
  background-color: #0e0b0b;
  height: 60vh;
}

#category .category-item h3 {
  position: relative;
  z-index: 1;
  padding-left: 15px;
  padding-top: 15px;
  color: #fff;
  font-family: 'Architects Daughter', cursive;
}

#category .category-item p {
  z-index: 0;
  top: 10px;
  left: 19px;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  background-color: #E42E71;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#category .category-item .category-img {
  overflow: hidden;
}

#category .category-item .category-img img {
  padding-top: 2em;
  -webkit-transform: scale(1);
          transform: scale(1);
  height: 400px;
}

#category .category-item:hover p {
  top: 25px;
  left: 40px;
}

#category .category-item:hover .category-img {
  overflow: hidden;
}

#category .category-item:hover .category-img img {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#Page {
  height: 60vh;
}

#Page .page-item {
  background: url(../photo/slider.jpeg) no-repeat scroll center center/cover;
  background-attachment: fixed;
  text-align: center;
  margin-top: 8em;
  height: 60vh;
}

#Page .page-item h1 {
  color: white;
  padding-top: 2em;
  padding-left: 5em;
}

#Page .page-item button {
  border: 2px solid #E42E71;
  padding: 20px 3em;
  background-color: inherit;
  font-weight: bolder;
  padding-top: 20px;
  position: relative;
  z-index: 1;
  color: white;
  margin-left: 4em;
}

#Page .page-item button::after {
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: .5s;
  transition: .5s;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #E42E71;
  z-index: -1;
}

#Page .page-item button:hover {
  color: white;
}

#Page .page-item button:hover::after {
  width: 100%;
}

#exspert {
  margin-top: 5em;
  text-align: center;
}

#exspert h1 {
  color: white;
}

#exspert p {
  color: #E42E71;
}

#exspert .expert-item {
  margin-top: 10px;
  position: relative;
}

#exspert .expert-item img {
  width: 100%;
  height: auto;
}

#exspert .expert-item .down {
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(19, 19, 19, 0.75) none repeat scroll 0 0;
  width: 100%;
  height: 0;
}

#exspert .expert-item .up {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(19, 19, 19, 0.75) none repeat scroll 0 0;
  padding: 30px 20px;
  width: 100%;
  height: 30%;
}

#exspert .expert-item .up p {
  text-align: center;
  z-index: 0;
  top: 23px;
  left: 7em;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  background-color: #E42E71;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#exspert .expert-item .up h3 {
  position: relative;
  color: #fff;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#exspert .expert-item .up span {
  margin-top: 1em;
}

#exspert .expert-item:hover .down {
  bottom: 0;
  height: 100%;
  z-index: 0;
  left: 0;
  right: 0;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

#exspert .expert-item:hover .up {
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  z-index: 1;
}

#exspert .expert-item:hover .up h3 {
  margin-top: 5em;
  text-align: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#exspert .expert-item:hover .up p {
  margin-top: 8em;
  text-align: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

@media (max-width: 1024px) {
  #Page .page-item h1 {
    font-size: 25px;
  }
}

#footer {
  background-color: #101010;
  color: white;
  margin-top: 3em;
  height: 40vh;
}

#footer .lets ul li {
  position: relative;
  border: 2px solid #E42E71;
  border-radius: 50%;
  padding: 12px 14px;
  margin-right: 5px;
  font-size: 10px;
  bottom: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

#footer .lets ul li:hover {
  color: #E42E71;
  bottom: 5px;
}

#footer .lets button {
  border: 2px solid #E42E71;
  padding: 20px 3em;
  background-color: #1b1b1b;
  font-weight: bolder;
  position: relative;
  z-index: 1;
  color: white;
}

#footer .lets button::after {
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: .5s;
  transition: .5s;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #E42E71;
  z-index: -1;
}

#footer .lets button:hover {
  color: white;
}

#footer .lets button:hover::after {
  width: 100%;
}

#footer2 {
  background-color: #E42E71;
  height: 10vh;
  text-align: center;
}

#footer2 p a {
  color: white;
}

#exspert1 {
  height: 80vh;
  background: url(../photo/05.jpg);
  width: 100%;
  padding-top: 4em;
  background-repeat: no-repeat;
  background-position: center center;
}

#exspert1 .exsp-text {
  padding-top: 7em;
  padding-right: 40px;
  text-align: end;
}

#exspert1 .exsp-text p {
  color: white;
}

#exspert1 .exsp-text h1 {
  color: #e52e71;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1em;
}

#tap {
  margin-top: 3em;
}

#tap h1 {
  padding: 1em 0;
  color: white;
}

#tap .thumb {
  text-align: center;
}

#tap .thumb a h3 {
  color: white;
}

#tap .thumb p {
  color: #E42E71;
}

#tap .thumb .img1 {
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#tap .thumb .img1:hover .thumb-box {
  opacity: 1;
}

#tap .thumb .img1 img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

#tap .thumb .img1 .thumb-box {
  background: rgba(19, 19, 19, 0.75) none repeat scroll 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
}

@media (max-width: 1024px) {
  .thumb {
    width: 50%;
    text-align: center;
    margin-left: 70px;
  }
}

#AboutMe {
  padding-top: 8em;
}

#AboutMe .about-item {
  margin-top: 4em;
  position: relative;
}

#AboutMe .about-item img {
  width: 100%;
}

#AboutMe .about-item .down {
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(19, 19, 19, 0.75) none repeat scroll 0 0;
  width: 100%;
  height: 0;
}

#AboutMe .about-item .up {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(19, 19, 19, 0.75) none repeat scroll 0 0;
  padding: 30px 20px;
  width: 100%;
  height: 30%;
}

#AboutMe .about-item .up p {
  text-align: center;
  z-index: 0;
  top: 23px;
  left: 7em;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  background-color: #E42E71;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#AboutMe .about-item .up h3 {
  position: relative;
  color: #fff;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#AboutMe .about-item .up span {
  margin-top: 1em;
}

#AboutMe .about-item:hover .down {
  bottom: 0;
  height: 100%;
  z-index: 0;
  left: 0;
  right: 0;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

#AboutMe .about-item:hover .up {
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  z-index: 1;
}

#AboutMe .about-item:hover .up h3 {
  margin-top: 5em;
  text-align: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#AboutMe .about-item:hover .up p {
  margin-top: 8em;
  text-align: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#AboutMe .about-text {
  margin-top: 4em;
}

#AboutMe .about-text h1 {
  color: #E42E71;
}

.my-gallery {
  width: 100%;
  float: left;
}

.my-gallery img {
  width: 100%;
  height: auto;
}

.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}

.my-gallery figcaption {
  display: none;
}
/*# sourceMappingURL=style.css.map */